; === THEME VARS ===

xTrayShowInfoTip	true

AllLabelsAlwaysOnTop	true


; === POPUP THEME ===

*Popup	!New				!PopupHelp PopupHelp
*Popup	"focus command (win+c)"		!FocusCommand
*Popup	"center orb (win+x)"		!OrbCenter
*Popup	"show popup (left click)"	!ParseEvars !Popup	%#OrbMainCurrentX+OrbMainWidth/2+PopupCurrentWidth/2%# %#OrbMainCurrentY+OrbMainHeight-18%# topright
*Popup	"time/date settings"		"rundll32.exe shell32.dll Control_RunDLL timedate.cpl"
*Popup	!separator
*Popup	"check for updates"			"http://sryo.deviantart.com"
*Popup	~New


; === PERSONAL ===

*Hotkey	Win C		!FocusCommand
*Hotkey Win X		!OrbCenter

*jDeskMButton3		[.none;!none;!OrbCenter;!none]


; === ORB SETUP ===

OrbMainX "0c"
OrbMainY "0c"

OrbMainFontColor		ffffff
OrbMainFontShadowColor		666666
OrbMainSolidColors		000000

OrbMainText		" <font size=14>[date('d')]</font><br><font size=8>[uppercase(date('mmm'))]</font>; <font size=14>[time('h')]</font><br><font size=8>[time('AM/PM')]</font>"

*Timer			orb #sl 2s !LabelNext OrbMain
