OTSMajorVersion			2
OTSMinorVersion			0

ThemeName				"iris2"
ThemeVersion			"20150307"
ThemeAuthor				"sryo"

nModulesRevId			0.7

;	load modules
;*NetLoadModule			MultiMonitor-1.2
*NetLoadModule			nCore-$nModulesRevId$
*NetLoadModule			nDesk-$nModulesRevId$
*NetLoadModule			nLabel-$nModulesRevId$
*NetLoadModule			nClock-$nModulesRevId$
*NetLoadModule			nPopup-$nModulesRevId$
;*NetLoadModule			nTray-$nModulesRevId$
If Win64
*NetLoadModule			tasks-0.96.1-x64
Else
*NetLoadModule			tasks-0.96.1
EndIf
*NetLoadModule			nTask-$nModulesRevId$
*NetLoadModule			mzscript-1.0.4
*NetLoadModule			anykey-1.0

NetLoadModuleOnLoad		!AutoRun
*mzVarFile				"$ThemeDir$vars.mz"
include					"$ThemeDir$vars.mz"
include					"$ThemeDir$bangs.mz"
include					"$ThemeDir$launcher.rc"

;	define evars
QuickLaunchPath		"$QuickLaunch$User Pinned\TaskBar\"
ResolutionX
ResolutionY
App1Name	0
App1Path	0
App2Name	0
App2Path	0
App3Name	0
App3Path	0
App4Name	0
App4Path	0
App5Name	0
App5Path	0
App6Name	0
App6Path	0
App7Name	0
App7Path	0
App8Name	0
App8Path	0

If App1Name = 0
OrbButtonNNHidden	true
EndIf
If App2Name = 0
OrbButtonNWHidden	true
EndIf
If App3Name = 0
OrbButtonWWHidden	true
EndIf
If App4Name = 0
OrbButtonSWHidden	true
EndIf
If App5Name = 0
OrbButtonSSHidden	true
EndIf
If App6Name = 0
OrbButtonSEHidden	true
EndIf
If App7Name = 0
OrbButtonEEHidden	true
EndIf
If App8Name = 0
OrbButtonNEHidden	true
EndIf
;	nDesk
nDeskWorkArea	"0,0,0,0"
*nDeskOn		RightClickUp	.none	!Exec !PopUp %#%{mousex}-nPopupMaxWidth/2%# %#%{mousey}-OrbHeight/2%#
*nDeskOn		MiddleClickDown	.none	!OrbCenter


;	HotKeys
AnyKeyLWinKey	!OrbCenter
AnyKeyNoWarn


;	UI Colors
UIAlpha			99
UIPrimaryColor	33495f
UIAccentColor	00bd9c
UITextColor		ffffff

;	UI Fonts
UIFontSize		14
UIFont			"Dosis"
UIGlyphs		"Material-Design-Iconic-Font"

;	UI Dimensions
UISize			96
UIButtonSize	$UISize/3$
UIIconSize		$UIButtonSize/2$
UICornerRadius	3


;	Orb
*nClock							Orb
*OrbOn							RightClickUp .none !PopUp

OrbAlwaysOnTop					true
OrbWidth						$UISize$
OrbHeight						$UISize$
OrbBrushType					RadialGradient
OrbGradientColors				"#00$UIPrimaryColor$	#00$UIPrimaryColor$	#$UIAlpha$$UIPrimaryColor$	#$UIAlpha$$UIPrimaryColor$	#00$UIPrimaryColor$	#00$UIPrimaryColor$"
OrbGradientStops				"0 						0.1666666666666666	0.166666666666667			0.499						0.5					1"
OrbGradientCenterX				$UISize/2$
OrbGradientCenterY				$UISize/2$
OrbGradientRadiusX				$UISize$
OrbGradientRadiusY				$UISize$
OrbTextAntiAliasMode			GrayScale

;	OrbHourHand
OrbHourHandBrushType			RadialGradient
OrbHourHandGradientColors		"#ff$UIAccentColor$	#00$UIAccentColor$	#00$UIAccentColor$"
OrbHourHandGradientStops		"0.499				0.5					1"
OrbHourHandGradientCenterX		24
OrbHourHandGradientCenterY		8
OrbHourHandGradientRadiusX		8
OrbHourHandGradientRadiusY		8
OrbHourHandLength				$OrbGradientRadiusX$
OrbHourHandThickness			16
OrbHourHandSmoothMovement		false

;	OrbMinuteHand
OrbMinuteHandBrushType			RadialGradient
OrbMinuteHandGradientColors		"#ff$UIAccentColor$	#00$UIAccentColor$	#00$UIAccentColor$"
OrbMinuteHandGradientStops		"0.499		0.5			1"
OrbMinuteHandGradientCenterX	41
OrbMinuteHandGradientCenterY	8
OrbMinuteHandGradientRadiusX	4
OrbMinuteHandGradientRadiusY	4
OrbMinuteHandLength				$OrbGradientRadiusX$
OrbMinuteHandThickness			16
OrbMinuteHandSmoothMovement		false

;	OrbSecondHand
OrbSecondHandColor			transparent


;	OrbButton
OrbButtonCornerRadius 			$nTasksButtonWidth/2$
OrbButtonHoverColor				#ff$UIAccentColor$

*nLabel							OrbButtonNN
*OrbButtonNNOn					LeftClickUp .none "$App1Path$"
OrbButtonNNText					"$App1Name$"
OrbButtonNNX					$UIButtonSize$
OrbButtonNNY					0
OrbButtonNNWidth				$UIButtonSize$
OrbButtonNNHeight				$UIButtonSize$
OrbButtonNNColor				transparent
OrbButtonNNParent				Orb
OrbButtonNNHoverColor			$OrbButtonHoverColor$
OrbButtonNNCornerRadiusX		$OrbButtonCornerRadius$
OrbButtonNNCornerRadiusY		$OrbButtonCornerRadius$
OrbButtonNNTextAlign			Center
OrbButtonNNTextVerticalAlign	Middle
OrbButtonNNFont					$UIFont$
OrbButtonNNFontColor			#ff$UIPrimaryColor$
OrbButtonNNFontWeight			Bold

*nLabel							OrbButtonNW
*OrbButtonNWOn					LeftClickUp .none "$App2Path$"
OrbButtonNWText					"$App2Name$"
OrbButtonNWX					$UIButtonSize+UIButtonSize/4*3-1$
OrbButtonNWY					$UIButtonSize/4+1$
OrbButtonNWWidth				$UIButtonSize$
OrbButtonNWHeight				$UIButtonSize$
OrbButtonNWColor				transparent
OrbButtonNWParent				Orb
OrbButtonNWHoverColor			$OrbButtonHoverColor$
OrbButtonNWCornerRadiusX		$OrbButtonCornerRadius$
OrbButtonNWCornerRadiusY		$OrbButtonCornerRadius$
OrbButtonNWTextAlign			Center
OrbButtonNWTextVerticalAlign	Middle
OrbButtonNWFont					$UIFont$
OrbButtonNWFontColor			#ff$UIPrimaryColor$
OrbButtonNWFontWeight			Bold

*nLabel							OrbButtonWW
*OrbButtonWWOn					LeftClickUp .none "$App3Path$"
OrbButtonWWText					"$App3Name$"
OrbButtonWWX					$UIButtonSize*2$
OrbButtonWWY					$UIButtonSize$
OrbButtonWWWidth				$UIButtonSize$
OrbButtonWWHeight				$UIButtonSize$
OrbButtonWWColor				transparent
OrbButtonWWParent				Orb
OrbButtonWWHoverColor			$OrbButtonHoverColor$
OrbButtonWWCornerRadiusX		$OrbButtonCornerRadius$
OrbButtonWWCornerRadiusY		$OrbButtonCornerRadius$
OrbButtonWWTextAlign			Center
OrbButtonWWTextVerticalAlign	Middle
OrbButtonWWFont					$UIFont$
OrbButtonWWFontColor			#ff$UIPrimaryColor$
OrbButtonWWFontWeight			Bold

*nLabel							OrbButtonSW
*OrbButtonSWOn					LeftClickUp .none "$App4Path$"
OrbButtonSWText					"$App4Name$"
OrbButtonSWX					$UIButtonSize+UIButtonSize/4*3-1$
OrbButtonSWY					$UIButtonSize+UIButtonSize/4*3-1$
OrbButtonSWWidth				$UIButtonSize$
OrbButtonSWHeight				$UIButtonSize$
OrbButtonSWColor				transparent
OrbButtonSWParent				Orb
OrbButtonSWHoverColor			$OrbButtonHoverColor$
OrbButtonSWCornerRadiusX		$OrbButtonCornerRadius$
OrbButtonSWCornerRadiusY		$OrbButtonCornerRadius$
OrbButtonSWTextAlign			Center
OrbButtonSWTextVerticalAlign	Middle
OrbButtonSWFont					$UIFont$
OrbButtonSWFontColor			#ff$UIPrimaryColor$
OrbButtonSWFontWeight			Bold

*nLabel							OrbButtonSS
*OrbButtonSSOn					LeftClickUp .none "$App5Path$"
OrbButtonSSText					"$App5Name$"
OrbButtonSSX					$UIButtonSize$
OrbButtonSSY					$UIButtonSize*2$
OrbButtonSSWidth				$UIButtonSize$
OrbButtonSSHeight				$UIButtonSize$
OrbButtonSSColor				transparent
OrbButtonSSParent				Orb
OrbButtonSSHoverColor			$OrbButtonHoverColor$
OrbButtonSSCornerRadiusX		$OrbButtonCornerRadius$
OrbButtonSSCornerRadiusY		$OrbButtonCornerRadius$
OrbButtonSSTextAlign			Center
OrbButtonSSTextVerticalAlign	Middle
OrbButtonSSFont					$UIFont$
OrbButtonSSFontColor			#ff$UIPrimaryColor$
OrbButtonSSFontWeight			Bold

*nLabel							OrbButtonSE
*OrbButtonSEOn					LeftClickUp .none "$App6Path$"
OrbButtonSEText					"$App6Name$"
OrbButtonSEX					$UIButtonSize-UIButtonSize/4*3+1$
OrbButtonSEY					$UIButtonSize+UIButtonSize/4*3-1$
OrbButtonSEWidth				$UIButtonSize$
OrbButtonSEHeight				$UIButtonSize$
OrbButtonSEColor				transparent
OrbButtonSEParent				Orb
OrbButtonSEHoverColor			$OrbButtonHoverColor$
OrbButtonSECornerRadiusX		$OrbButtonCornerRadius$
OrbButtonSECornerRadiusY		$OrbButtonCornerRadius$
OrbButtonSETextAlign			Center
OrbButtonSETextVerticalAlign	Middle
OrbButtonSEFont					$UIFont$
OrbButtonSEFontColor			#ff$UIPrimaryColor$
OrbButtonSEFontWeight			Bold

*nLabel							OrbButtonEE
*OrbButtonEEOn					LeftClickUp .none "$App7Path$"
OrbButtonEEText					"$App7Name$"
OrbButtonEEX					0
OrbButtonEEY					$UIButtonSize$
OrbButtonEEWidth				$UIButtonSize$
OrbButtonEEHeight				$UIButtonSize$
OrbButtonEEColor				transparent
OrbButtonEEParent				Orb
OrbButtonEEHoverColor			$OrbButtonHoverColor$
OrbButtonEECornerRadiusX		$OrbButtonCornerRadius$
OrbButtonEECornerRadiusY		$OrbButtonCornerRadius$
OrbButtonEETextAlign			Center
OrbButtonEETextVerticalAlign	Middle
OrbButtonEEFont					$UIFont$
OrbButtonEEFontColor			#ff$UIPrimaryColor$
OrbButtonEEFontWeight			Bold

*nLabel							OrbButtonNE
*OrbButtonNEOn					LeftClickUp .none "$App8Path$"
OrbButtonNEText					"$App8Name$"
OrbButtonNEX					$UIButtonSize-UIButtonSize/4*3+1$
OrbButtonNEY					$UIButtonSize/4+1$
OrbButtonNEWidth				$UIButtonSize$
OrbButtonNEHeight				$UIButtonSize$
OrbButtonNEColor				transparent
OrbButtonNEParent				Orb
OrbButtonNEHoverColor			$OrbButtonHoverColor$
OrbButtonNECornerRadiusX		$OrbButtonCornerRadius$
OrbButtonNECornerRadiusY		$OrbButtonCornerRadius$
OrbButtonNETextAlign			Center
OrbButtonNETextVerticalAlign	Middle
OrbButtonNEFont					$UIFont$
OrbButtonNEFontColor			#ff$UIPrimaryColor$
OrbButtonNEFontWeight			Bold

;	OrbButtonClose
*nLabel							OrbButtonPopup
*OrbButtonPopupOn				LeftClickUp .none !PopUp
*OrbButtonPopupOn				RightClickUp .none !TrayPopUp
OrbButtonPopupX					$UIButtonSize$
OrbButtonPopupY					$UIButtonSize$
OrbButtonPopupWidth				$UIButtonSize$
OrbButtonPopupHeight			$UIButtonSize$
OrbButtonPopupColor				transparent
OrbButtonPopupFontColor			transparent
OrbButtonPopupParent			Orb
OrbButtonPopupCornerRadiusX		$OrbButtonCornerRadius$
OrbButtonPopupCornerRadiusY		$OrbButtonCornerRadius$
OrbButtonPopupText				"W"
OrbButtonPopupTextAlign			Center
OrbButtonPopupTextVerticalAlign	Middle
OrbButtonPopupFont				"Marlett"

OrbButtonPopupHoverColor		$OrbButtonHoverColor$
OrbButtonPopupHoverFontColor	#ff$UIPrimaryColor$

; nTasks
*nTaskbar							nTasks
nTasksAlwaysOnTop					True
nTasksColor							transparent
nTasksX								$OrbX+OrbWidth+nTasksColumnSpacing$
nTasksY								$OrbY+OrbHeight/3$
nTasksWidth							$UIButtonSize$
nTasksHeight						$UIButtonSize$
nTasksColumnSpacing					$UICornerRadius$

;	nTasksThumbnail
nTasksThumbnailColor				#$UIAlpha$$UIPrimaryColor$ ;$nPopupColor$
nTasksThumbnailSizeToButton			False
nTasksThumbnailDistanceFromButton	$nTasksColumnSpacing$
nTasksThumbnailOutlineColor			$nPopupOutlineColor$
nTasksThumbnailOutlineWidth			$nPopupOutlineWidth$
nTasksThumbnailAnimate				True
nTasksThumbnailCornerRadiusX		$nPopupCornerRadiusX$
nTasksThumbnailCornerRadiusY		$nPopupCornerRadiusY$

;	nTasksButton
nTasksButtonWidth					$UIButtonSize$
nTasksButtonHeight					$UIButtonSize$
nTasksButtonColor					#$UIAlpha$$UIPrimaryColor$
nTasksButtonCornerRadiusX			$UIButtonSize/2$
nTasksButtonCornerRadiusY			$UIButtonSize$
nTasksButtonIconSize				$UIIconSize$
nTasksButtonIconX					$(nTasksButtonWidth-nTasksButtonIconSize)/2$
nTasksButtonIconY					$(nTasksButtonHeight-nTasksButtonIconSize)/2$

nTasksButtonHoverColor				#ff$UIAccentColor$
nTasksButtonActiveColor				#ff$UIAccentColor$
nTasksButtonFlashingColor			#ff$UIAccentColor$
nTasksButtonMinimizedIconY			$nTasksButtonHeight/2$


TasksStartHidden	true
TasksOnAdd			!TasksAdd
TasksOnDel			!TasksDel

;	nPopup
nPopupColor				#$UIAlpha$$UIPrimaryColor$
nPopupMaxWidth			160
nPopupTextAntiAliasMode	GrayScale
nPopupChildOffsetX		$-nPopupOutlineWidth$
nPopupChildOffsetY		0
nPopupPaddingLeft		$nPopupOutlineWidth$
nPopupPaddingRight		$nPopupOutlineWidth$
nPopupPaddingTop		$nPopupOutlineWidth$
nPopupPaddingBottom		$nPopupOutlineWidth$
nPopupOutlineColor		#ff$UIPrimaryColor$
nPopupOutlineWidth		$UICornerRadius$
nPopupCornerRadiusX		$UICornerRadius$
nPopupCornerRadiusY		$UICornerRadius$


;	nPopupItem
nPopupItemColor						Transparent
nPopupItemFontColor					#ff$UITextColor$
nPopupItemFontSize					$UIFontSize$
nPopupItemFont						$UIFont$
nPopupItemTextOffsetRight			$UIButtonSize$
nPopupItemTextAlign					Right
nPopupItemHeight					$UIButtonSize$
nPopupItemIconSize					$UIIconSize$
nPopupItemIconX						$nPopupMaxWidth+UIIconSize$
nPopupItemIconY						$(UIButtonSize-UIIconSize)/2$
nPopupItemSpacing					0

;	nPopupItemHover
nPopupItemHoverFontColor			#ff$UIPrimaryColor$
nPopupItemHoverColor				#ff$UIAccentColor$
nPopupItemHoverCornerRadiusX		$UICornerRadius$
nPopupItemHoverCornerRadiusY		$UICornerRadius$

;	nPopupFolderItem
nPopupFolderItemGroup				nPopupItem
nPopupFolderItemIconSize			0
nPopupFolderItemFontColor			#ff$UIAccentColor$
nPopupFolderItemFont				"Dosis"
nPopupFolderItemFontWeight			Bold

;	nPopupFolderItemOpen
nPopupFolderItemOpenFontColor		#ff$UIPrimaryColor$
nPopupFolderItemOpenBrushType		RadialGradient
nPopupFolderItemOpenGradientColors	"#ff$UIPrimaryColor$ #ff$UIPrimaryColor$ #ff$UIAccentColor$ #ff$UIAccentColor$"
nPopupFolderItemOpenGradientStops	"0 0.499 0.5 1"
nPopupFolderItemOpenGradientCenterX	$nPopupMaxWidth+nPopupFolderItemOpenGradientRadiusX/4*3$
nPopupFolderItemOpenGradientCenterY	$nPopupItemHeight/2$
nPopupFolderItemOpenGradientRadiusX	96
nPopupFolderItemOpenGradientRadiusY	16
nPopupFolderItemOpenCornerRadiusX	$UICornerRadius$
nPopupFolderItemOpenCornerRadiusY	$UICornerRadius$

nPopupFolderItemHoverGroup			nPopupFolderItemOpen

;	nPopupSeparatorItem
nPopupSeparatorItemColor			$nPopupOutlineColor$
nPopupSeparatorItemHeight			$UICornerRadius$