; === THEME VARS ===

xTrayShowInfoTip	true

xPopupAutoMenuBreak		true

BarX "640"


; === POPUP THEME ===

*Popup	!New		!PopupTheme
*Popup	tasks		!PopupTasks
*Popup	!separator
*Popup	!InsertFolder:"$QuickLaunch$"
*Popup	!Separator
*Popup  "programs"	!DynamicFolder:"$Programs$|$CommonPrograms$"
*Popup	~New


; === PERSONAL ===

*Hotkey	Win C		!LabelFocus Bar
