OTSMajorVersion			2
OTSMinorVersion			0

ThemeName 			"rust (20070618)"
ThemeAuthor 			"sryo"

*NetLoadModule			xpaintclass-1.0
*NetLoadModule			xstatsclass-1.0


*NetLoadModule			jdesk-0.73
*NetLoadModule			xpopup-2.0.3
*NetLoadModule			xtray-2.0.1
*NetLoadModule			xlabel-4.0.8
*NetLoadModule			xtaskbar-2.0.3
*NetLoadModule			timer-0.5

*NetLoadModule			xtextedit-0.5

LSImageFolder			"$ThemeDir$images\"
MiscDir				"$ThemeDir$misc\"
ConfigDir			"$ThemeDir$config\"

include				"$ConfigDir$themevars.rc"

*Label				Bar
BarY				~$BarHeight$
BarCurrentX			0
BarHeight			28
BarMaxWidth			408
BarWidth			80
;BarAutoWidthMode		left
BarPaintingMode			".image"
BarTrueTransparency		true
BarImage			label_bg.png
BarImageMode			tile
BarImageEdges			7 7 0 10
BarFontBottomBorder		4
BarFontLeftBorder		8
BarFontRightBorder		8
BarAlwaysOnTop			true
BarMoveable			"horizontal"
BarMoveModifierKey		".none"
BarText				"[time];[date('ddd d/mm')]"
BarFontColor			f3eccb
BarHoverFontColor		ffd200
BarFont				"Swiss 721 Bold Condensed BT D-Type"
BarFontShadow			true
BarFontShadowColor		000000
BarSnapTo			4 desktop
BarOnEnter			!Execute [!LabelShow Bar .editbox][!LabelFocus Bar .editbox]
BarOnLeave			!Execute [!LabelHide Bar .editbox]
BarOnMove			!ParseEvars !Execute [!xTextSaveEvar @$ConfigDir$themevars.rc@ @BarX@ @%#BarCurrentX%#@]
BarOnLeftClickDown		!xTrayHide
BarOnLeftClickUp		!ParseEvars !Execute [!xTrayMove %#BarCurrentX%# 0][!xTrayShow]
BarFocusOnEnter			true

NetLoadModuleOnLoad		!ParseEvars !Execute [!LabelMove Bar $BarX$ 0 20 5][!xTrayMove %#BarCurrentX%# $BarY$][!xTrayShow]

*Label				BarShadow
*BarShadowDockedTo		Bar
BarShadowX			$BarX$
BarShadowY			$BarY$
BarShadowHeight			$BarHeight$
BarShadowWidth			$BarWidth$
BarShadowAlphaMap		true
BarShadowPaintingMode		".image"
BarShadowImage			label_sh.png
BarShadowImageEdges		7 7 0 10
BarShadowAlwaysOnTop		true

BarTextEditBox			0 0 100% #hc
BarTextEditBoxPadding		10 10 4 8
BarTextEditBoxOnUnfocus		!LabelHide Bar .editbox

*Timer			Bar #sl 3s !LabelNext Bar

xTrayX				$BarX+4$
xTrayY				$BarY$
xTrayCurrentY			0
xTrayWidth			$BarWidth-8$
xTrayHeight			$16+18$
xTrayImageEdges			7 7 3 10
xTrayBorders			10 6
xTrayAlphaMap			true
xTrayPaintingMode		".image"
xTrayImage			label_bg.png
xTrayImageMode			tile
xTrayIconSaturationIntensity	50
xTrayIconHueIntensity		100
xTrayIconHueColor		f3eccb
xTrayHideIfEmpty		true
xTrayOnWheelDown		!xTrayScrollIcons prev
xTrayOnWheelUp			!xTrayScrollIcons next
xTrayAlwaysOnTop		true
xTrayStartHidden		true
xTrayOnHide			!ParseEvars !Execute [!xTrayMove %#BarCurrentX+4%# 0][!LabelHide xTrayShadow]
xTrayOnShow			!ParseEvars !Execute [!xTrayMove %#BarCurrentX+4%# $BarHeight-7$ 10 5][!LabelShow xTrayShadow]
xTrayIconSize			16
xTrayWrapCount			3
xTrayOnLineAdd			!Execute [!xTrayResizeBy 0 16 10 5][!LabelResizeBy xTrayShadow 0 16]
xTrayOnLineRemove		!Execute [!LabelResizeBy xTrayShadow 0 -16][!xTrayResizeBy 0 -16 10 5]

*Label				xTrayShadow
*xTrayShadowDockedTo		Bar
xTrayShadowX			$xTrayX$
xTrayShadowY			~7
xTrayShadowHeight		$xTrayHeight$
xTrayShadowWidth		$xTrayWidth$
xTrayShadowAlphaMap		true
xTrayShadowPaintingMode		".image"
xTrayShadowImage		label_sh.png
xTrayShadowImageEdges		7 7 0 10
xTrayShadowAlwaysOnTop		true
xTrayShadowStartHidden		true

xPopupCompatibilityMode		true
xPopupAlphaMap			true
xPopupPaintingMode		".image"
xPopupImage			popup_bg.png
xPopupImageMode			tile
xPopupImageEdges		5 5 3 8
xPopupEntryFont			"Swiss 721 Bold Condensed BT D-Type"
xPopupEntryFontHeight		14
xPopupShowIcon			false
xPopupActiveEntryPaintingMode	".image"
xPopupActiveEntryImage		popup_a.png
xPopupActiveEntryImageMode	tile
xPopupActiveEntryFontColor	ffd200
xPopupActiveFolderPaintingMode	".image"
xPopupActiveFolderImage		popup_a.png
xPopupActiveFolderImageMode	tile
xPopupActiveFolderFontColor	ffd200
xPopupMaxHeight			1208
xPopupMaxWidth			408
xPopupOverlapX			-7
xPopupLeftBorder		4
xPopupRightBorder		4
xPopupFontLeftBorder		10
xPopupFontRightBorder		10
xPopupTopBorder			14
xPopupBottomBorder		8
xPopupEntryHeight		14
xPopupFolderHeight		14
xPopupSeparatorPaintingMode	".image"
xPopupSeparatorImage		popup_s.png
xPopupSeparatorHeight		3
xPopupShowCaption		.none
xPopupOnCaptionMiddleClick	.togglepin
xPopupEntryFontColor		f3eccb
xPopupFontShadow		true
xPopupFontShadowColor		000000
xPopupUseTextArrow		false
xPopupAlphaFade			true
xPopupCustomAlphaFade		30 0
xPopupFolderOpenDelay		100
xPopupAutoSeparator		true
xPopupOnDrop			"SHORTCUT"

xTaskbarX			0
xTaskbarY			$ResolutionY-xTaskbarButtonHeight$
xTaskbarButtonMaxWidth		150
xTaskbarButtonHeight		$BarHeight$
xTaskbarButtonPaintingMode	".image"
xTaskbarButtonImage		popup_bg.png
xTaskbarButtonImageMode		tile
xTaskbarButtonImageEdges	5 5 3 8
xTaskbarButtonDirection		".left"
xTaskbarHideIfEmpty		true
xTaskbarButtonMaxWidth		$xPopupMaxWidth$
xTaskbarIconVisible		false
xTaskbarShowText		true
xTaskbarFontAlign		center
xTaskbarFontBottomBorder	4
xTaskbarFontLeftBorder		8
xTaskbarFontRightBorder		8
xTaskbarFontColor		f3eccb
xTaskbarFont			"Swiss 721 Bold Condensed BT D-Type"
xTaskbarFontShadow		true
xTaskbarFontShadowColor		000000
xTaskbarDisplay			"flashing"
xTaskbarOnMiddleClickButton	.close
xTaskbarAlwaysOnTop		true
xTaskbarAlphaMap		true