OTSMajorVersion			2
OTSMinorVersion			0

ThemeName			"iris"
ThemeVersion			"0.1"
ThemeAuthor			"sryo"
*LoadFont			"$ThemeDir$assets/fonts/OpenSans-Light.ttf"

;load modules
*NetLoadModule			jdesk-0.73
*NetLoadModule			xPaintClass-1.0
*NetLoadModule			xStatsClass-1.1.5
*NetLoadModule			xlabel-4.3				;threading triggers false-drags
*NetLoadModule			xtaskbar-2.3.4
*NetLoadModule			xpopup-2.1				;threading triggers false-drags
*NetLoadModule			lsxcommand-2.0.2			;threading causes trouble with popup/command hide/show on drag
*NetLoadModule			xspeak-0.1		threaded	;disable threaded if using onhover
*NetLoadModule			alias-0.2
*NetLoadModule			comdlgls-0.7				;threading unsupported
*NetLoadModule			xtextedit-0.6
*NetLoadModule			mouse-0.21


LSDisableTrayService		true

LSImageFolder			"$ThemeDir$res\drawable\"
include				"$ThemeDir$res\values\paths.rc"
include				"$ThemeDir$res\values\bools.rc"
NetLoadModuleOnLoad		!PopupLoadCFG "*Popup" "$ThemeDir$res\menu\main.rc"

;set the work area
jDeskWorkArea			"0,0,0,0"
*jDeskMButton1			[.none;!none;!Execute [!IrisCenter][!IrisPopup];!none]
*jDeskMButton2			[.none;!none;!IrisPopup;!none]
*jDeskMButton3			[.none;!none;!IrisCommandFocus;!none]

;set actions
*Alias				!IrisSpeakTime		!ParseEvars	!xSpeak "Current Time: %%[time]%%"
*Alias				!IrisSpeakDate		!ParseEvars	!xSpeak "The date is: %%[date('dddd d')]%%"
*Alias				!IrisSpeakBattery	!ParseEvars	!xSpeak "Remaining charge: %%[battery]%%"
*Alias				!IrisMoveEverything	!ParseEvars	!Execute [!CommandMove %%#IrisCurrentX%%# %%#IrisCurrentY%%#][!xTaskbarMove %%#IrisCurrentX%%# %%#IrisCurrentY%%#]
*Alias				!IrisSetQuickLaunch	!Execute	[!ComDlgFile !xTextSaveEvar @$ThemeDir$res\values\paths.rc@ @%1@ @^@fp^@][!Refresh]
*Alias				!IrisSetQuickLaunchDrop	!ParseEvars	!Execute	[!xTextSaveEvar @$ThemeDir$res\values\paths.rc@ @%1@ @%%#IrisVarsDropPath%%#@][!Refresh]
*Alias				!IrisButtonShow		!Execute	[!LabelSetAlpha %1 255][!LabelShow %2]
*Alias				!IrisButtonHide		!Execute	[!LabelHide %2][!LabelSetAlpha %1 1]
*Alias				!IrisCenter		!ParseEvars	!MouseMove %%#IrisCurrentX+IrisWidth/2%%# %%#IrisCurrentY+IrisHeight/2%%#
*Alias				!IrisCommandFocus	!Execute	[!IrisCenter][!CommandFocus]
*Alias				!IrisPopup		!ParseEvars	!Popup %%#IrisCurrentX+IrisWidth/2%%# %%#IrisCurrentY+IrisHeight/2%%# topcenter


;create iris
*Label				Iris
IrisAddToGroup			UIris
IrisX				-$IrisWidth/2$c
IrisY				-$IrisHeight/2$c
IrisCurrentX			$IrisX$
IrisCurrentY			$Irisy$
IrisWidth			$128*UIMultiplier$
IrisHeight			$128*UIMultiplier$
IrisPaintingMode		.image
IrisImage			iris.png
IrisAlphaMap			true
IrisTrueTransparency		true
IrisBehindWindow		xLabel
IrisMoveable			true
IrisMoveModifierKey		.none
IrisOnEnter			!LabelAlwaysOnTop UIrisButtons

UIrisAlwaysOnTop		true
UIrisOnMiddleClick		!CommandFocus
IrisOnLeftClickDown		!IrisPopup
UIrisOnMove			!IrisMoveEverything
UIrisBehindWindow		#32770 ;doesn't work?e

UIrisButtonsAddToGroup		UIris
UIrisButtonsAlphaFade		true
;UIrisButtonsAlphaTransparency	1
UIrisButtonsWidth		$IrisWidth$
UIrisButtonsHeight		$IrisHeight$
UIrisButtonsX			$IrisX$
UIrisButtonsY			$IrisY$
UIrisButtonsPaintingMode	.image
UIrisButtonsAlphaMap		true
UIrisButtonsFontAlign		.center
UIrisButtonsFont		"Open Sans Light"
UIrisButtonsFontHeight		$IrisHeight/5$
UIrisButtonsFontColor		ecf0f1
UIrisButtonsFontSmoothing	true
UIrisButtonsFontVisible		false

UIrisNotifyAddToGroup		UIris
UIrisNotifyX			$IrisX$
UIrisNotifyY			$IrisY$
UIrisNotifyWidth		$IrisWidth$
UIrisNotifyHeight		$IrisHeight$
UIrisNotifyPaintingMode 	.image
UIrisNotifyAlphaMap		true

IrisVarsDropPath

*Label				IrisVars1
*IrisVars1DockedTo		Iris
IrisVars1AddToGroup		UIrisButtons
IrisVars1Image			var1.png
IrisVars1HoverImage		var1hover.png
IrisVars1OnEnter		!IrisButtonShow IrisVars1 IrisVars1Icon
IrisVars1OnLeave		!IrisButtonHide IrisVars1 IrisVars1Icon
IrisVars1OnRightClick		!IrisSetQuickLaunch IrisVars1OnLeftClick
IrisVars1OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars1OnLeftClick]
*IrisVars1OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars1Icon #
IrisVars1IconPaintingMode	.icon
IrisVars1IconAddToGroup		UIrisButtons
IrisVars1IconStartHidden	true

*Label				IrisVars8
*IrisVars8DockedTo		Iris
IrisVars8AddToGroup		UIrisButtons
IrisVars8Image			var8.png
IrisVars8HoverImage		var8hover.png
IrisVars8OnEnter		!IrisButtonShow IrisVars8 IrisVars8Icon
IrisVars8OnLeave		!IrisButtonHide IrisVars8 IrisVars8Icon
IrisVars8OnRightClick		!IrisSetQuickLaunch IrisVars8OnLeftClick
IrisVars8OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars8OnLeftClick]
*IrisVars8OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars8Icon #
IrisVars8IconPaintingMode	.icon
IrisVars8IconAddToGroup		UIrisButtons
IrisVars8IconStartHidden	true

*Label				IrisVars2
*IrisVars2DockedTo		Iris
IrisVars2AddToGroup		UIrisButtons
IrisVars2Image			var2.png
IrisVars2HoverImage		var2hover.png
IrisVars2OnEnter		!IrisButtonShow IrisVars2 IrisVars2Icon
IrisVars2OnLeave		!IrisButtonHide IrisVars2 IrisVars2Icon
IrisVars2OnRightClick		!IrisSetQuickLaunch IrisVars2OnLeftClick
IrisVars2OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars2OnLeftClick]
*IrisVars2OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars2Icon #
IrisVars2IconPaintingMode	.icon
IrisVars2IconAddToGroup		UIrisButtons
IrisVars2IconStartHidden	true

*Label				IrisVars7
*IrisVars7DockedTo		Iris
IrisVars7AddToGroup		UIrisButtons
IrisVars7Image			var7.png
IrisVars7HoverImage		var7hover.png
IrisVars7OnEnter		!IrisButtonShow IrisVars7 IrisVars7Icon
IrisVars7OnLeave		!IrisButtonHide IrisVars7 IrisVars7Icon
IrisVars7OnRightClick		!IrisSetQuickLaunch IrisVars7OnLeftClick
IrisVars7OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars7OnLeftClick]
*IrisVars7OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars7Icon #
IrisVars7IconPaintingMode	.icon
IrisVars7IconAddToGroup		UIrisButtons
IrisVars7IconStartHidden	true

*Label				IrisVars3
*IrisVars3DockedTo		Iris
IrisVars3AddToGroup		UIrisButtons
IrisVars3Image			var3.png
IrisVars3HoverImage		var3hover.png
IrisVars3OnEnter		!IrisButtonShow IrisVars3 IrisVars3Icon
IrisVars3OnLeave		!IrisButtonHide IrisVars3 IrisVars3Icon
IrisVars3OnRightClick		!IrisSetQuickLaunch IrisVars3OnLeftClick
IrisVars3OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars3OnLeftClick]
*IrisVars3OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars3Icon #
IrisVars3IconPaintingMode	.icon
IrisVars3IconAddToGroup		UIrisButtons
IrisVars3IconStartHidden	true

*Label				IrisVars6
*IrisVars6DockedTo		Iris
IrisVars6AddToGroup		UIrisButtons
IrisVars6Image			var6.png
IrisVars6HoverImage		var6hover.png
IrisVars6OnEnter		!IrisButtonShow IrisVars6 IrisVars6Icon
IrisVars6OnLeave		!IrisButtonHide IrisVars6 IrisVars6Icon
IrisVars6OnRightClick		!IrisSetQuickLaunch IrisVars6OnLeftClick
IrisVars6OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars6OnLeftClick]
*IrisVars6OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars6Icon #
IrisVars6IconPaintingMode	.icon
IrisVars6IconAddToGroup		UIrisButtons
IrisVars6IconStartHidden	true

*Label				IrisVars5
*IrisVars5DockedTo		Iris
IrisVars5AddToGroup		UIrisButtons
IrisVars5Image			var5.png
IrisVars5HoverImage		var5hover.png
IrisVars5OnEnter		!IrisButtonShow IrisVars5 IrisVars5Icon
IrisVars5OnLeave		!IrisButtonHide IrisVars5 IrisVars5Icon
IrisVars5OnRightClick		!IrisSetQuickLaunch IrisVars5OnLeftClick
IrisVars5OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars5OnLeftClick]
*IrisVars5OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars5Icon #
IrisVars5IconPaintingMode	.icon
IrisVars5IconAddToGroup		UIrisButtons
IrisVars5IconStartHidden	true

*Label				IrisVars4
*IrisVars4DockedTo		Iris
IrisVars4AddToGroup		UIrisButtons
IrisVars4Image			var4.png
IrisVars4HoverImage		var4hover.png
IrisVars4OnEnter		!IrisButtonShow IrisVars4 IrisVars4Icon
IrisVars4OnLeave		!IrisButtonHide IrisVars4 IrisVars4Icon
IrisVars4OnRightClick		!IrisSetQuickLaunch IrisVars4OnLeftClick
IrisVars4OnDrop			!Execute [!SetEvar IrisVarsDropPath %[droppath]%][!IrisSetQuickLaunchDrop IrisVars4OnLeftClick]
*IrisVars4OverlayLabel		$xTaskbarBorders$ $xTaskbarBorders$ $xTaskbarIconSize$ $xTaskbarIconSize$ IrisVars4Icon #
IrisVars4IconPaintingMode	.icon
IrisVars4IconAddToGroup		UIrisButtons
IrisVars4IconStartHidden	true

*Label				TimerTime
TimerTimeAddToGroup		Timers
TimerTimeText			"[time('h')]"
TimerTimeOnTextChange		!IrisSpeakTime

*Label				TimerDate
TimerDateAddtoGroup		Timers
TimerDateText			"[date('d')]"
TimerDateOnTextChange		!IrisSpeakDate

TimersX -5


xTaskbarAlwaysOnTop		true
xTaskbarImage			hudinformation.png
xTaskbarPaintingMode		.image
xTaskbarX			$IrisX$
xTaskbarY			$IrisY$
xTaskbarHeight			$IrisHeight$
xTaskbarWidth			$IrisWidth$
xTaskbarIconSize		$IrisWidth/4$
xTaskbarBorders			$IrisWidth/2.7$
xTaskbarStartHidden		true
xTaskbarHideIfEmpty		true
xTaskbarButtonMaxWidth		$xTaskbarIconSize$
xTaskbarButtonMinWidth		$xTaskbarIconSize$
xTaskbarButtonMaxCount		1
xTaskbarWrapCount		2
xTaskbarMaxLines		2
xTaskbarShowText		false
xTaskbarDisplay			"flashing"
xTaskbarOnMiddleClickButton	.close
xTaskbarTrueTransparency	true
xTaskbarAlphaMap		true
xTaskbarOnIconAdd


CommandAlwaysOnTop		true
CommandImage			hudinput.png
CommandPaintingMode		.image
CommandStartHidden		true
CommandMoveable			false
CommandTabFileComplete		true
CommandNoTrailingZeros		true
CommandSelectAllOnFocus		true
CommandFont			$UIrisButtonsFont$
CommandFontHeight		$UIrisButtonsFontHeight$
CommandFontColor		$UIrisButtonsFontColor$
CommandFontAlign		center
CommandWidth			$IrisWidth$
CommandHeight			$IrisHeight$
CommandX			$IrisX$
CommandY			$IrisY$
CommandTopBorder		$IrisHeight/2.5$
CommandBottomBorder		$CommandTopBorder$
CommandLeftBorder		$IrisHeight/3$
CommandRightBorder		$CommandLeftBorder$
CommandTransparentEditBox	true
CommandHideOnEsc		true
CommandHideOnUnfocus		true
CommandAlphaMap			true
CommandTrueTransparency		true


xPopupPaintingMode				.image
xPopupTitlePaintingMode				.image
xPopupActiveEntryPaintingMode			.image
xPopupAlphaMap					true
xPopupImage					popup.png
xPopupTitleImage				popupactive.png
xPopupActiveEntryImage				popupactive.png
xPopupTopBorder					$UIrisButtonsFontHeight/3$
xPopupBottomBorder				$UIrisButtonsFontHeight/3$
xPopupBottomOnLeftClick				.pagedown
xPopupFont					$UIrisButtonsFont$
xPopupFontHeight				$UIrisButtonsFontHeight$
xPopupFontColor					$UIrisButtonsFontColor$
xPopupFontLeftBorder				$UIrisButtonsFontHeight$
xPopupFolderFontLeftBorder			$UIrisButtonsFontHeight$
xPopupActiveFolderFontLeftBorder		$UIrisButtonsFontHeight$
xPopupActiveInfoFontLeftBorder			$UIrisButtonsFontHeight$
xPopupFontTextFade				0 $UIrisButtonsFontHeight$ 0 0
xPopupFontNoEllipsis				true
xPopupInfoFontTextFade				0 $UIrisButtonsFontHeight$ 0 0
xPopupInfoFontNoEllipsis			true
xPopupInfoFont					$UIrisButtonsFont$
xPopupInfoFontHeight				$UIrisButtonsFontHeight$
xPopupInfoFontColor				7f8c8d ;$UIrisButtonsFontColor$
xPopupInfoFontLeftBorder			$UIrisButtonsFontHeight$
xPopupInfoFontRightBorder			$UIrisButtonsFontHeight$
xPopupInfoFontAlign				left
xPopupActiveEntryImageLeftEdge			$UIrisButtonsFontHeight$
xPopupActiveEntryFontColor			7f8c8d
xPopupFolderIconVisible				false
xPopupActiveFolderIconVisible			false
xPopupShowCaption				.none
xPopupSeparatorHeight				$xPopupTopBorder$
xPopupSeparatorSpacing				0
xPopupOverlapX					-$UIrisButtonsFontHeight$
xPopupEntryHeight				$UIrisButtonsFontHeight$
xPopupInfoHeight				$UIrisButtonsFontHeight$
xPopupFolderHeight				$UIrisButtonsFontHeight$
xPopupTitleShowText				false
xPopupShowCaption				.top
xPopupAutoMenuBreak				true
xPopupMaxEntryWidth				$IrisWidth*1.25$
xPopupEntryIconSize				$xTaskbarIconSize$
xPopupIconX					$UIrisButtonsFontHeight$
xPopupIconY					$UIrisButtonsFontHeight/3$
xPopupActiveEntryIconSaturationIntensity	100
xPopupActiveEntryIconAlphaTransparency		25
xPopupIconSaturationIntensity			10
xPopupIconLuminanceIntensity			35
xPopupActiveEntryIconLuminanceIntensity		0
xPopupTooltipMode				.all

xPopupBigAddToGroup				"xPopup"
xPopupBigEntryHeight				$xTaskbarIconSize+xPopupIconY*2$
xPopupBigShowIcon				true
xPopupBigEntryFontLeftBorder			$xPopupEntryIconSize/2+xPopupIconX$
xPopupBigShowIcon				true
xPopupBigEntryFontTextFade			$UIrisButtonsFontHeight$ $UIrisButtonsFontHeight$ 0 0
xPopupBigActiveEntryFontTextFade		0 $UIrisButtonsFontHeight$ 0 0
xPopupBigFolderFontTextFade			0 $UIrisButtonsFontHeight$ 0 0

xPopupTasksAddToGroup				"xPopup"
xPopupTasksShowText				true
xPopupTasksShowIcon				true
xPopupTasksMaxEntryWidth			$xTaskbarIconSize+xPopupTasksIconX*2$
xPopupTasksEntryHeight				$xTaskbarIconSize+xPopupTasksIconY*2$
xPopupTasksIconX				$UIrisButtonsFontHeight/2$
xPopupTasksIconY				$UIrisButtonsFontHeight/2$
xPopupTasksAutoMenuBreak			true
xPopupTasksMaxHeight				$IrisHeight*1.5$
xPopupTasksEntryFontTextFade			0 $UIrisButtonsFontHeight$ 0 0
xPopupTasksFontRightBorder			0