*Popup "Iris" !New !Popup
	*Popup !info "[time]"
;							*Popup !Separator
	*Popup !info "Volume"
	*Popup !info "Brightness"
	*Popup !info "Charging: [battery]"
							*Popup !Separator
;	*Popup "Network"					!alert
;	*Popup "Bluetooth"					!alert
							*Popup Menubreak
	*Popup "Tasks"					!PopupTasks
;	*Popup "Recent Files"					!PopupRecentDocuments
;	*Popup "Quicklaunch"					"!DynamicFolder:$QuickLaunch$*.lnk"
	*Popup "Programs"					!DynamicFolder:"$Programs$|$CommonPrograms$"
	*Popup "Settings" Folder
		*Popup "My Computer"				!PopupMyComputer
		*Popup "Control Panel"				!PopupControlPanel
		*Popup "Recycle bin"				!execute ["$FileManager$" "$bitbucket$"]
							*Popup !Separator
		*Popup "Desktop Settings"			!execute [control.exe desk.cpl]
		*Popup "Add/Remove programs"			!execute [control.exe appwiz.cpl]
							*Popup !Separator
		*Popup "Log Out"				!LogOff
		*Popup "Power Off"				!ShutDown
	*Popup ~Folder
	*Popup "Lock"						!SwitchUser
*Popup ~New